*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
  background-color: #ffffff;
  padding: 16px 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
  height: 92px;
}

.nav-container{
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img{
  height: 55px;
}

.menu{
  display: flex;
  gap: 32px;
}

.menu a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  color: #222;
  transition: color 0.3s;
}

.menu a:hover{
  background-color: aliceblue;
}
/* navbar-button */
.btn{
  background-color:rgba(0, 84, 0, 0.842);
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  padding: 12px 16px;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(183, 215, 135);
}
/* banner-button */
.banner-buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-1st{
    background-color:rgba(0, 84, 0, 0.842);
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  padding: 12px 16px;
  border-radius: 7px;
  cursor: pointer;
}
.btn-1st:hover{
  background-color: rgb(183, 215, 135);
}

.btn-2nd{
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  padding: 12px 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: color 0.5s
}
.btn-2nd:hover{
  background: #d1cbcb;
  color: #0a2337;
}

.banner {
  height: 90vh;
  background: url("./assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-content{
  max-width: 950px;
  padding: 20px;
  color: #fff;
  }

  .banner-content .badge{
    display:inline-flex;
    align-items: center;
    font-size: 15px;
    background: #ffffff;
    color:rgba(0, 84, 0, 0.842) ;
    padding: 7px 15px;
    border-radius: 25px;
    gap: 12px;
    margin-bottom: 16px;
}

  .banner-content .dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color:rgba(0, 128, 0, 0.726) ;
}

.banner-content h1{
  font-size: 68px;
  line-height: 1.1;
  margin-bottom: 14px;

}

.banner-content h1 span{
  color: #3dbb77;
}

.banner-content p{
  font-size: 18px;
  line-height: 1.7;
  color: #e6eef4;
  margin-bottom: 25px;
}

.note-section{
  padding: 60px 20px;
  text-align: center;
}

.note-container{
  max-width: 1500px;
  margin: 0, auto;
}

.section-heading h1{
  font-size: 40px;
  color: #001931;
  margin-bottom: 8px;
}

.section-heading p{
  font-size: 13px;
  color: #7d8b9f;
  margin-bottom: 44px;
}

.card-container{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card{
  background: #fff;
  border: 1px solid #f1f5f9;
  border-radius: 10px;
  padding: 30px 15px;
  max-width: 300px;
  box-shadow: 0 6px 50px 0 #00000011; 
}

.card img{
  background-color: rgba(255, 0, 0, 0.651);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h3{
  font-size: 20px;
  color: #121111;
  margin-bottom:15px ;
}

.card p{
  font-size:15px;
  color: #64748b;
  line-height: 20px;
}

.second-brain{
  padding: 120px;
}

.brain-container{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.brain-image{
  width: 100%;
  height: auto;
}

.brain-content .title{
  color: #2e7d32ec;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 20px;
}

.brain-content h2{
  font-size:40px;
  color: #121111;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 16px;
}

.brain-content p{
  font-size: 14px;
  color: #64748b;
  line-height: 1.4;
  margin-bottom: 40px;
}

.check-list{
  list-style: none;
}

.check-list li{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0f172a;
  font-size: 18px;
  margin-bottom: 16px;
}

.early-access{
  display: flex;
  padding: 120px;
  background-color: #ffffff;
}

.access-container{
  background-color: #F7F6F2;
  max-width: 1500px;
  width: 100%;
  padding: 60px 20px;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}

.access-container h2{
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
  font-weight: 700;
}

.access-container p{
  font-size: 14px;
  color: #627382;
  line-height: 1.5;
  margin-bottom: 24px;
}

.button .end-text{
  font-size: 14px;
  margin-top: 16px;
}