*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: #ffffff;
  padding: 16px 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
  height: 92px;
}

.nav-container{
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img{
  height: 55px;
}

.menu{
  display: flex;
  gap: 32px;
}

.menu a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  color: #222;
  transition: color 0.3s;
}

.menu a:hover{
  background-color: aliceblue;
}

.btn{
  background-color:rgba(0, 84, 0, 0.842);
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background-color: greenyellow;
}


  